.introduction{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.contacts {
    position: absolute;
    left: 20px;
    top: 15%;
}

.contact {
    display: flex;
    margin-bottom: 10px;
}