.projectList {
    position: fixed;
    height: 100vh;
    width: 10vw;
    top:0;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.map {
    height: 8%;
}

.black {
    filter: brightness(0) saturate(100%);
}

.highlighted {
    filter: brightness(0) saturate(100%) invert(97%) sepia(23%) saturate(3483%) hue-rotate(329deg) brightness(88%) contrast(93%);
}