@import "../../Scss/mixin";

.project {
    position: relative;
    width: 100%;
    height: 33.33vh;
    overflow: hidden;
    border-top: 2px solid black;

    @include mq(desktop-small) {
        height: 100vh;
    }
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.map {
    position: absolute;
    top: 4%;
    right: 3%;
    height: 20%;
    z-index: 3;
    transition: 0.5s;
}

.black {
    filter: brightness(0) saturate(100%);
}