.project {
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 33.33vh;
    right: -100%;
    overflow: hidden;
    background-color: white;
    border-top: 2px solid black;
    transition: 0.5s;
}

.active {
    right:0;
}

.projectDescripton {
    margin: 20px 20px;
}