.container {
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left:-100%;
    background-color: whitesmoke;
    transition: 0.5s;
}

.textContainer {
    position: absolute;
    top: 8%;
    bottom: 8%;
    margin-left: 20px;
    width: 50%;
    overflow: hidden;
}

.aboutText {
    text-align: justify;
}

.map {
    position: absolute;
    right: 10px;
    width: 25%;
}

.map.first {
    top: 0;
}

.map.secound {
    top: 37.5%;
}

.map.third {
    top: 75%;
}

.active {
    left: 0%; 
}