@import "../../Scss/mixin";

.container {
    display: flex;
    flex-direction: row;
    z-index: 4;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left:-110%;
    background-color: whitesmoke;
    transition: 0.5s;
}

.contentBox{
    display: flex;
    flex-direction: column;
    margin: 10% 5% 5% 5%;
    width: 100%;
    overflow: hidden;

    @include mq(desktop-small) {
        margin: 0% 0% 5% 35%;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
}

.aboutList{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: lighten(black, 60%);
    

    @include mq(desktop-small) {
        margin-top: 0;
        min-width: 20%;
        flex-direction: column;
        justify-content: center;
        font-size: 0.8rem;
    }

    li {
        margin: 8px 0;
        text-transform: uppercase;
    }
}

.activeItem {
    color: black;
    transition: .5s;
}

.aboutText {
    margin-top: 4%;
    text-align: center;
    font-style: normal;
    font-size: 0.9rem;

    @include mq(desktop-small){
        margin-top: 0%;
        padding: 6%;
        font-size: 0.45rem;
        line-height: 0.8rem;
       }
}


.textContainer {
    position: absolute;
    top: 8%;
    bottom: 8%;
    margin-left: 20px;
    width: 50%;
    overflow: hidden;

    @include mq(desktop-small){
     right: 8%;
     font-size: 0.5rem;
    }
}

.active {
    left: 0%; 
}